/*

- AnchorPane #rootProjectSettingsView
	- AnchorPane ... // project name
	- ScrollPane
		- ... VBox
			- HBox
				- Button #btnLockAttributes
			- VBox
				- VBox #box_attributes
					- SortElementNode #attribute
						- AnchorPane #pane_header
							- HBox
								- Button // remove
								- ComboBox // type
								- EditableLabel // name
								- Button // expand/collapse
						- AnchorPane #pane_content
							- XYZDataNode
							- HBox [opt]
								- Button // discard
								- Button // save
				- Button // add attribute


EmptyLabelItem #item_empty
	- Label // "this attribute can not be changed"


FlagListValueItem #item_flaglist
	- AnchorPane
		- Label // "Flags:"
		- ScrollPane
		- ... VBox
			- FlagValueItem
				- HBox
					- Button // remove
					- Pane // FlagColor
					- EditableLabel // flag name
					- Button // up
					- Button // down


FlagValueItem #item_flag
	- HBox
		- Button // remove
		- Pane // FlagColor
		- EditableLabel // flag name
		- Button // up
		- Button // down


ChoiceValueItem #item_choice
	- HBox
		- VBox
			- Label
		- VBox
			- ComboBox


IntegerValueItem #item_integer
	- HBox
		- VBox
			- Label
		- VBox
			- Spinner


FloatValueItem #item_float
	- HBox
		- VBox
			- Label
		- VBox
			- Spinner


BoolValueItem #item_boolean
	- HBox
		- VBox
			- Label
		- VBox
			- CheckBox


MLTextValueItem #item_mltext
	- HBox
		- VBox
			- Label
		- VBox
			- TextArea


TextValueItem #item_text
	- HBox
		- VBox
			- Label
		- VBox
			- TextField


ChoiceValueItem #item_choice
	- HBox
		- VBox
			- Label
		- VBox
			- ComboBox

 */


* {
	-primary-0:      #29323c;
	-primary-1:      #2f3c48;
	-primary-2:      #3e4d59;

	-secondary:      #6f7f8c;
	-info:           #5c8f94;
	-danger:         #cc330d;
	-success:        #3e4d59;
	-warning:        #6e9fa5;
	-light:          #eceeec;
	-dark:           #1e2b37;

	-gray-dark:      #767676;
	-gray-mid-1:     #b9b9b9;
	-gray-mid-0:     #cccccc;
	-gray-light:     #ededed;

	-text-light-0:   #b9b9b9;
	-text-light-1:   white;

	-text-link:      #3366bb;

	-selected-light: #50aaff;
	-selected-dark:  #0084ff;


	-mouse-over:     #787878;
	-mouse-down:     #a4a4a4;

}


.tag-default {
	-fx-background-color: -info;
}


#btnLockAttributes {
	-fx-background-color: transparent;
	-fx-border-color:     transparent;
}


#btnLockAttributes:hover > SVGPath {
	-fx-fill: -mouse-over;
}


#btnLockAttributes:pressed > SVGPath {
	-fx-fill: -mouse-down;
}


#attribute {
	-fx-background-color:  white;
	-fx-background-radius: 5;
	-fx-border-color:      -gray-mid-0;
	-fx-border-radius:     5;
}


#attribute:hover {
	-fx-border-color: -gray-dark;
}


#pane_header > * > .button {
	-fx-background-color: transparent;
	-fx-border-color:     transparent;
}


#pane_header > * > .button:hover > SVGPath {
	-fx-fill: -mouse-over;
}


#pane_header > * > .button:pressed > SVGPath {
	-fx-fill: -mouse-down;
}


#pane_header > * > .combo-box {
	-fx-background-color:  transparent;
	-fx-background-insets: 0 0 5 0;
	-fx-border-color:      -gray-mid-0;
	-fx-border-radius:     0;
	-fx-border-width:      0 0 1 0;
	-fx-border-insets:     0 0 5 0;
}


#unsafed_changes_header {
	-fx-border-color:      transparent;
	-fx-background-color:  -warning;
	-fx-border-radius:     9;
	-fx-background-radius: 9;
	-fx-text-fill:         white;
	-fx-font-weight:       bold;
	-fx-font-size:         80%;
}


#pane_content {
}



#item_boolean {
}


#item_choice {
}


#item_empty {
}


#item_flaglist > * > .scroll-pane {
	-fx-background-radius: 5;
}


#item_flaglist > * > .scroll-pane > * {
	-fx-background-radius: 5;
}



#item_flag {
	-fx-background-color:  white;
	-fx-background-radius: 5;
	-fx-border-color:      -gray-mid-0;
	-fx-border-radius:     5;
}


#item_flag:hover {
	-fx-border-color: -gray-dark;
}


#item_flag > * > Button {
	-fx-background-color: transparent;
	-fx-border-color:     transparent;
}


#item_flag > * > Button:hover > SVGPath {
	-fx-fill: -mouse-over;
}


#item_flag > * > Button:pressed > SVGPath {
	-fx-fill: -mouse-down;
}


#item_flag > * > Pane {
	-fx-background-radius: 6;
}


#item_float {
}


#item_integer {
}


#item_mltext {
}


#item_text {
}



#pane_header {
}