
.task-card > * {
	-fx-background-color:  -border, -base;
	-fx-background-insets: 0, 1;
	-fx-effect:            dropshadow(gaussian, -dropshadow, 6, 0.0, 0, 4);
}


.task-card:hover > * {
	-fx-background-color: -border-hover, -base;
}


.task-card-id {
	-fx-text-fill: -secondary;
	-fx-underline: true;
}


.task-card-selected > * {
	-fx-border-color: -primary-2;
	-fx-border-width: 2;
}


.task-card-description {
	-fx-text-fill: -text-base;
}


.task-card-attributes {
	-fx-padding:           3;
	-fx-background-color:  -border, -base;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 4, 3;
}


.task-card-item {
	-fx-background-color: transparent;
}


.task-card-item .task-card-item-key {
	-fx-text-fill: -primary-2;
}


.task-card-item .task-card-item-value {
	-fx-text-fill: -text-base;
}