/* menubar*/
#menuBar {
	-fx-background-color: -primary-0;
}


#menuBar > * > .menu {
	-fx-background-color: -primary-0;
}


#menuBar > * > .menu:pressed {
	-fx-effect: null;
}


#menuBar > * > .menu > .label {
	-fx-text-fill: -text-light-0;
}


#menuBar > * > .menu > .label:hover {
	-fx-text-fill: -text-light-1;
}


/* tabpane */
#tabPane .tab-header-area .tab-header-background {
	-fx-background-color: -primary-1;
}


#tabPane .tab {
	-fx-background-color: -primary-1;
}


#tabPane .tab .tab-label {
	-fx-text-fill: -text-light-0;
}


#tabPane .tab .tab-label:hover {
	-fx-text-fill: -text-light-1;
}


#tabPane .tab:selected .tab-label {
	-fx-text-fill: -text-light-1;
}


#tabPane .tab:selected {
	-fx-background-color: -primary-2;
	-fx-border-color:     transparent;
}


/* info bar */
#paneInfobar {
	-fx-background-color: -secondary;
}


#paneInfobar > #labelInfobar {
	-fx-text-fill: -text-light-1;
}

