
#boxHeader > .label {
	-fx-font-weight: bold;
}


#boxPresets {
	-fx-spacing:           5;
	-fx-padding:           5;
	-fx-background-color:  -border, -base;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 5, 4;
}


#boxPresets > .label {
	-fx-font-weight: bold;
}


.scroll-pane {
	-fx-background-radius: 4, 3;
}


.scroll-pane .viewport {
	-fx-background-radius: 4, 3;
	-fx-padding:           5;
}



#paneCriteria {
	-fx-background-color:  -border, -base;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 5;
}



#and-criteria,
#or-criteria,
#terminal-criteria {
	-fx-background-color:  -border, -base;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 5;
}


#and-criteria > VBox,
#or-criteria > VBox,
#terminal-criteria > VBox {
	-fx-padding:           5 5 5 5;
	-fx-background-color:  -border, -background;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 5, 4;
}


#and-criteria:hover,
#or-criteria:hover,
#terminal-criteria:hover {
	-fx-background-color: -border-hover, -base;
}


#and-criteria > .button,
#or-criteria > .button {
	-fx-border-color:     transparent;
	-fx-background-color: transparent;
}


#and-criteria > .button > SVGPath,
#or-criteria > .button > SVGPath {
	-fx-fill: -icon;
}


#and-criteria > .button:hover > SVGPath,
#and-criteria > .button:pressed > SVGPath,
#or-criteria > .button:hover > SVGPath,
#or-criteria > .button:pressed > SVGPat {
	-fx-fill: -icon-hover;
}



#terminal-criteria > HBox > .combo-box {
	-fx-background-color:  transparent;
	-fx-background-insets: 0 0 5 0;
	-fx-border-color:      -border;
	-fx-border-radius:     0;
	-fx-border-width:      0 0 1 0;
	-fx-border-insets:     0 0 5 0;
}


#terminal-criteria > HBox > .combo-box:hover {
	-fx-border-color: -border-hover;
}



#terminal-criteria > HBox > .button {
	-fx-border-color:     transparent;
	-fx-background-color: transparent;
}


#terminal-criteria > HBox > .button > SVGPath {
	-fx-fill: -icon;
}


#terminal-criteria > HBox > .button:hover > SVGPath,
#terminal-criteria > HBox > .button:pressed > SVGPat {
	-fx-fill: -icon-hover;
}


