
.button-remove,
.button-remove:hover,
.button-remove:pressed,
.button-expand,
.button-expand:hover,
.button-expand:pressed,
.button-up,
.button-up:hover,
.button-up:pressed,
.button-down,
.button-down:hover,
.button-down:pressed {
	-fx-background-color: transparent;
}


.button-remove > SVGPath,
.button-expand > SVGPath,
.button-up > SVGPath,
.button-down > SVGPath {
	-fx-fill: -icon;
}


.button-remove:hover > SVGPath,
.button-remove:pressed > SVGPath,
.button-expand:hover > SVGPath,
.button-expand:pressed > SVGPath,
.button-up:hover > SVGPath,
.button-up:pressed > SVGPath,
.button-down:hover > SVGPath,
.button-down:pressed > SVGPath {
	-fx-fill: -icon-hover;
}


.tag-default {
	-fx-background-color: -info;
}


.lock-button {
	-fx-background-color: transparent;
	-fx-border-color:     transparent;
}


.lock-button > SVGPath {
	-fx-fill: -icon;
}


.lock-button:hover > SVGPath,
.lock-button:pressed > SVGPath {
	-fx-fill: -icon-hover;
}


.attribute-node {
	-fx-background-color:  -border, -base;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 5, 4;
}


.attribute-node:hover {
	-fx-background-color: -border-hover, -base;
}


.choice-type {
	-fx-background-color:  transparent;
	-fx-background-insets: 0 0 5 0;
	-fx-border-color:      -border;
	-fx-border-radius:     0;
	-fx-border-width:      0 0 1 0;
	-fx-border-insets:     0 0 5 0;
}


.choice-type:hover {
	-fx-background-color: transparent;
	-fx-border-color:     -border-hover;
}


.warning-unsafed-changes {
	-fx-border-color:      transparent;
	-fx-background-color:  -warning;
	-fx-border-radius:     9;
	-fx-background-radius: 9;
	-fx-text-fill:         -text-warning;
	-fx-font-weight:       bold;
	-fx-font-size:         80%;
}



.flag_list_item .scroll-pane {
	-fx-background-radius: 5;
}


.flag_list_item .scroll-pane > * {
	-fx-background-radius: 5;
}


.flag_item {
	-fx-background-color:  -border, -base;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 5, 4;
}


.flag_item:hover {
	-fx-background-color: -border-hover, -base;
}


.flag-color {
	-fx-background-radius: 5;
}

