.scrollbar-tasks {
	-fx-padding: 0;
}


.scrollbar-tasks .viewport {
	-fx-background-color: -background-alt;
}


.hide-sidebar {
	-fx-background-color: -border;
}


.hide-sidebar:hover {
	-fx-background-color: -border-hover;
}