
#boxContent {
	-fx-spacing: 20;
}


#boxContent > .label {
	-fx-font-weight: bold;
}


#boxPresets {
	-fx-spacing:           5;
	-fx-padding:           8;
	-fx-background-color:  -border, -base;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 5, 4;
}



#boxSubPresets {
	-fx-background-color:  -border, -base;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 5, 4;
	-fx-padding:           20;
}


#boxSubPresets .button {
	-fx-background-color: transparent;

}


#boxSubPresets .combo-box {
	-fx-background-color:  transparent;
	-fx-background-insets: 0 0 5 0;
	-fx-border-color:      -border;
	-fx-border-radius:     0;
	-fx-border-width:      0 0 1 0;
	-fx-border-insets:     0 0 5 0;
}


#boxSubPresets .combo-box:hover {
	-fx-border-color: -border-hover;
}