

/* BREADCRUMB */
#paneBreadcrumb {
	-fx-border-width: 0 0 1 0;
	-fx-border-color: -gray-mid-0;
}


#paneBreadcrumb > * > .button {
	-fx-border-color:     transparent;
	-fx-background-color: transparent;
}


#paneBreadcrumb > * > .button:hover > SVGPath {
	-fx-fill: -mouse-over;
}


#paneBreadcrumb > * > .button:pressed > SVGPath {
	-fx-fill: -mouse-down;
}


#paneBreadcrumb > * > HBox > #breadcrumb_task {
	-fx-text-fill: -text-link;
}


#paneBreadcrumb > * > HBox > #breadcrumb_task:hover {
	-fx-underline: true;
	-fx-cursor:    hand;
}


#paneBreadcrumb > * > HBox > #breadcrumb_current {
	-fx-text-fill:   black;
	-fx-font-weight: bold;
}


#paneBreadcrumb > * > HBox > #breadcrumb_seperator {
}



/*ATTRIBUTES */
#boxContent > .label {
	-fx-font-weight: bold;
}


#boxContent > HBox {
	-fx-background-color:  white;
	-fx-background-radius: 5;
	-fx-border-color:      -gray-mid-0;
	-fx-border-radius:     5;
	-fx-padding:           5 7 5 7;
}


#boxContent > HBox > #boxMainAttNames > .label {
	-fx-font-weight: bold;
}


#boxContent > HBox > #boxMainAttValues {
}


#boxContent > #boxAttribs {
	-fx-spacing: 10;
}


#boxContent > #boxAttribs > * {
	-fx-background-color:  white;
	-fx-background-radius: 5;
	-fx-border-color:      -gray-mid-0;
	-fx-border-radius:     5;
	-fx-padding:           0 7 0 7;
}


#item_number > .label {
	-fx-font-weight: bold;
}


#item_number > HBox > .button {
	-fx-border-color:     transparent;
	-fx-background-color: transparent;
}


#item_number > HBox > .button:hover > SVGPath {
	-fx-fill: -mouse-over;
}


#item_number > HBox > .button:pressed > SVGPath {
	-fx-fill: -mouse-down;
}



#item_text > HBox {
	-fx-padding: 4 0 4 0;
}


#item_text > .label {
	-fx-font-weight: bold;
}


#item_text > HBox > .button {
	-fx-border-color:     transparent;
	-fx-background-color: transparent;
}


#item_text > HBox > .button:hover > SVGPath {
	-fx-fill: -mouse-over;
}


#item_text > HBox > .button:pressed > SVGPath {
	-fx-fill: -mouse-down;
}



#item_bool > .label {
	-fx-font-weight: bold;
}


#item_bool > HBox > .button {
	-fx-border-color:     transparent;
	-fx-background-color: transparent;
}


#item_bool > HBox > .button:hover > SVGPath {
	-fx-fill: -mouse-over;
}


#item_bool > HBox > .button:pressed > SVGPath {
	-fx-fill: -mouse-down;
}



#item_choice > .label {
	-fx-font-weight: bold;
}


#item_choice > HBox > .button {
	-fx-border-color:     transparent;
	-fx-background-color: transparent;
}


#item_choice > HBox > .button:hover > SVGPath {
	-fx-fill: -mouse-over;
}


#item_choice > HBox > .button:pressed > SVGPath {
	-fx-fill: -mouse-down;
}

#item_choice .combo-box {
	-fx-background-color:  transparent;
	-fx-background-insets: 0 0 5 0;
	-fx-border-color:      -gray-mid-0;
	-fx-border-radius:     0;
	-fx-border-width:      0 0 1 0;
	-fx-border-insets:     0 0 5 0;
}

#item_dependency > VBox > .label {
	-fx-font-weight: bold;
}


#item_dependency > VBox {
	-fx-padding: 4 0 4 0;
	-fx-spacing: 10;
}


#item_dependency > VBox > VBox {
	-fx-spacing: 10;
	-fx-padding: 0 0 0 35;
}


#item_dependency > VBox > VBox > .label {
	-fx-font-style:  italic;
	-fx-font-weight: bold;
}


#item_dependency > VBox > VBox > VBox > HBox > .label {
	-fx-text-fill: -text-link;
}


#item_dependency > VBox > VBox > VBox > HBox > .label:hover {
	-fx-underline: true;
	-fx-cursor:    hand;
}


#item_dependency .combo-box {
	-fx-background-color: transparent;
	-fx-background-insets: 0 0 5 0;
	-fx-border-color:      -gray-mid-0;
	-fx-border-radius:     0;
	-fx-border-width:      0 0 1 0;
	-fx-border-insets:     0 0 5 0;
}


.delete-task-default {
}


.delete-task-confirm {
	-fx-text-fill:        white;
	-fx-background-color: #cc330d;
	-fx-border-color:     #7b1f0c;
}


.delete-task-confirm:hover {
	-fx-background-color: #ee4022;
}

.delete-task-confirm:pressed {
	-fx-background-color: #a12a0c;
	-fx-effect: innershadow(gaussian, #7b1f0c, 10, 0, 0, 3);

}