
.tasks-header {
	-fx-background-color: -primary-2;
}


.tasks-header .button {
	-fx-background-color: transparent;
	-fx-text-fill:        -text-primary;
}


.tasks-header .button:hover {
	-fx-text-fill: -text-primary-alt;
}



.label-num-tasks {
	-fx-text-fill: -text-primary;
}



.actions-button > SVGPath {
	-fx-fill: -text-primary;
}


.actions-button:hover > SVGPath {
	-fx-fill: -text-primary-alt;
}


.label-badge {
	-fx-background-color:  -warning;
	-fx-background-radius: 7;
	-fx-text-fill:         -text-warning;
	-fx-alignment:         center;
	-fx-font-size:         11;
	-fx-font-weight:       bold;
}

