
#boxContent {
	-fx-spacing: 15;
}


#boxHeader > .label {
	-fx-font-weight: bold;
}



#boxPresets {
	-fx-spacing:           5;
	-fx-padding:           10;
	-fx-background-color:  -border, -base;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 5, 4;
}



#boxPresets > .label {
	-fx-font-weight: bold;
}


#boxContent > .scroll-pane {
	-fx-background-radius: 5, 4;
	-fx-border-color:      -border;
	-fx-border-radius:     5;
}


#boxContent > .scroll-pane .viewport {
	-fx-border-radius: 5;
}


#boxAttributes > * {
	-fx-background-color:  -border, -base;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 5, 4;
}


#boxAttributes > *:hover {
	-fx-background-color: -border-hover, -base;
}



#boxAttributes > * > .button {
	-fx-background-color: transparent;
	-fx-border-color:     transparent;
}


#boxAttributes > * > .button > SVGPath {
	-fx-fill: -icon;

}


#boxAttributes > * > .button:hover > SVGPath,
#boxAttributes > * > .button:pressed > SVGPath {
	-fx-fill: -icon-hover;
}



#boxAttributes > * > .combo-box {
	-fx-background-color:  transparent;
	-fx-background-insets: 0 0 5 0;
	-fx-border-color:      -border;
	-fx-border-radius:     0;
	-fx-border-width:      0 0 1 0;
	-fx-border-insets:     0 0 5 0;
}


#boxAttributes > * > .combo-box:hover {
	-fx-border-color: -border-hover;

}


#boxHeaderString {
	-fx-spacing:           5;
	-fx-padding:           3 3 3 10;
	-fx-background-color:  -border, -base;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 5, 4;
}