.breadcrumb-bar {
}


.breadcrumb-bar .back-button {
	-fx-background-color: transparent;
}


.breadcrumb-bar .back-button > SVGPath {
	-fx-fill: -icon;
}


.breadcrumb-bar .back-button:hover > SVGPath,
.breadcrumb-bar .back-button:pressed > SVGPath {
	-fx-fill: -icon-hover;
}


.breadcrumb-bar .breadcrumb-item {
	-fx-font-size: 16;
	-fx-text-fill: -secondary;
}


.breadcrumb-bar .breadcrumb-item:hover {
	-fx-underline: true;
	-fx-cursor:    hand;
}


.breadcrumb-bar .breadcrumb-item-current {
	-fx-font-weight: bold;
}


.breadcrumb-bar .breadcrumb-arrow {
	-fx-text-fill: -text-background;
}



.tasks-sidebar {
	-fx-background-color: -background;
}


.tasks-sidebar .scroll-pane {
	-fx-background-color:  -border, -background;
	-fx-background-insets: 0, 1 0 1 0;
}


.attribute-box {
	-fx-background-color: -background;
}


.sidebar-item {
	-fx-background-color:  -border, -background;
	-fx-background-insets: 0, 1;
	-fx-background-radius: 4, 3;
	-fx-padding:           2 8 2 8;
}


.sidebar-item:hover {
	-fx-background-color: -border-hover, -base;
}


.sidebar-item-name {
	-fx-text-fill: -primary-2;
}



.sidebar-item-clear,
.sidebar-item-clear:hover,
.sidebar-item-clear:pressed {
	-fx-background-color: transparent;
}


.sidebar-item-clear > SVGPath {
	-fx-fill: -icon;
}


.sidebar-item-clear:hover > SVGPath,
.sidebar-item-clear:pressed > SVGPath {
	-fx-fill: -icon-hover;
}


.sidebar-item-description > * {
	-fx-padding: 4 2 4 2;
}


.sidebar-item-description > * > * > * {
	-fx-background-radius: 4;
}


.sidebar-item-text {
	-fx-padding: 7;
}


.sidebar-item-dependency {
	-fx-padding: 7;
}


.sidebar-item-dependency .dependency-item-dash {
	-fx-text-fill: -secondary;
}


.sidebar-item-dependency .dependency-item-id {
	-fx-text-fill: -secondary;
	-fx-underline: true;
}


.sidebar-item-dependency .dependency-item-id:hover {
	-fx-cursor: hand;
}



.sidebar-item-dependency .dependency-item-remove,
.sidebar-item-dependency .dependency-item-remove:hover,
.sidebar-item-dependency .dependency-item-remove:pressed {
	-fx-background-color: transparent;
}


.sidebar-item-dependency .dependency-item-remove > SVGPath {
	-fx-fill: -icon;
}


.sidebar-item-dependency .dependency-item-remove:hover > SVGPath,
.sidebar-item-dependency .dependency-item-remove:pressed > SVGPath {
	-fx-fill: -icon-hover;
}


.delete-button:hover {
	-fx-background-color: -danger-tooltip-2, -danger-tooltip-1;
	-fx-text-fill:        -text-base;
}