/*

- TaskView
	- AnchorPane #rootTaskView
		- AnchorPane #paneHeader
			- HBox
				- Hbox
					- Button #btnFilter
					- Button #btnGroup
					- Button #btnSort
					- Button #btnPresets
					- Label #labelNTasks
					- Button #btnActions
			- AnchorPane #paneHeaderBadges
				- Label
				- Label
				- Label
		- SplitPane #splitContent
			- ... AnchorPane #paneContent
				- ScrollPane #scollTasks
					- ... AnchorPane #paneTasks
						- HBox #boxTasks
							- TaskList
							- TaskList
							- ...
				- Label #labelHideSidebar
			- ... AnchorPane #paneSidebar
				- Sidebar


 */


* {
	-primary-0:      #29323c;
	-primary-1:      #2f3c48;
	-primary-2:      #3e4d59;

	-secondary:      #6f7f8c;
	-info:           #5c8f94;
	-danger:         #cc330d;
	-success:        #3e4d59;
	-warning:        #6e9fa5;
	-light:          #eceeec;
	-dark:           #1e2b37;

	-gray-dark:      #767676;
	-gray-mid-1:     #b9b9b9;
	-gray-mid-0:     #cccccc;
	-gray-light:     #ededed;

	-text-light-0:   #b9b9b9;
	-text-light-1:   white;

	-text-link:      #3366bb;

	-selected-light: #50aaff;
	-selected-dark:  #0084ff;


	-mouse-over:     #787878;
	-mouse-down:     #a4a4a4;

}



#paneHeader {
	-fx-background-color: -primary-2;
}


#paneHeader .button {
	-fx-border-color:     transparent;
	-fx-background-color: transparent;
	-fx-text-fill:        -text-light-1;
}


#paneHeader #labelNTasks {
	-fx-text-fill: -text-light-0;
}


#paneHeader .button:hover {
	-fx-border-color:     transparent;
	-fx-background-color: transparent;
	-fx-text-fill:        -text-light-0;
}


#paneHeader .button > SVGPath {
	-fx-fill: -text-light-1;
}


#paneHeader .button:hover > SVGPath {
	-fx-fill: -text-light-0;
}



#paneHeaderBadges > .label {
	-fx-background-color:  -warning;
	-fx-background-radius: 7;
	-fx-text-fill:         -text-light-1;
	-fx-alignment:         center;
	-fx-font-size:         11;
	-fx-font-weight:       bold;
}



/* removes border between header and content */
#rootTaskView > SplitPane > * > AnchorPane > ScrollPane {
	-fx-padding: 0;
}


#splitContent {
	-fx-padding: 0;
}


#paneContent > ScrollPane > .viewport {
	-fx-background-color: -gray-light;
}


#labelHideSidebar {
	-fx-background-color: -gray-mid-1;
}


#labelHideSidebar:hover {
	-fx-background-color: #a6a6a6;
}