
* {
	-primary-0: #29323c;
	-primary-1: #2f3c48;
	-primary-2: #3e4d59;

	-secondary: #6f7f8c;
	-info: #5c8f94;
	-danger: #cc330d;
	-success: #3e4d59;
	-warning: #6e9fa5;
	-light: #eceeec;
	-dark: #1e2b37;

	-gray-dark: #767676;
	-gray-mid-1: #b9b9b9;
	-gray-mid-0: #cccccc;
	-gray-light: #ededed;

	-text-light-0: #b9b9b9;
	-text-light-1: white;

	-text-link: #3366BB;

}


/* menubar*/
#menuBar {
	-fx-background-color: -primary-0;
}

#menuBar > * > .menu {
	-fx-background-color: -primary-0;
}

#menuBar > * > .menu:pressed {
	-fx-effect: null;
}

#menuBar > * > .menu > .label {
	-fx-text-fill: -text-light-0;
}

#menuBar > * > .menu > .label:hover {
	-fx-text-fill: -text-light-1;
}


/* tabpane */
#tabPane .tab-header-area .tab-header-background {
	-fx-background-color: -primary-1;
}

#tabPane .tab {
	-fx-background-color: -primary-1;
}

#tabPane .tab .tab-label {
	-fx-text-fill: -text-light-0;
}

#tabPane .tab .tab-label:hover {
	-fx-text-fill: -text-light-1;
}

#tabPane .tab:selected .tab-label {
	-fx-text-fill: -text-light-1;
}

#tabPane .tab:selected {
	-fx-background-color: -primary-2;
	-fx-border-color: transparent;
}


/* info bar */
#paneInfobar {
	-fx-background-color: -secondary;
}

#paneInfobar > #labelInfobar {
	-fx-text-fill: -text-light-1;
}

